Checks: >-
  *,
  -abseil*,
  -altera*,
  -android*,
  -*braces-around-statements,
  -bugprone-narrowing-conversions,
  -clang-analyzer-core.*,
  -clang-analyzer-alpha.*,
  -clang-analyzer-cplusplus.NewDelete,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-narrowing-conversions,
  -concurrency-mt-unsafe,
  -fuchsia*,
  -google-readability-todo,
  -google-runtime-int,
  -hicpp-*,
  -google-runtime-references,
  -llvm-header-guard,
  -llvmlibc*,
  -misc-no-recursion,
  -modernize-avoid-bind,
  -modernize-use-trailing-return-type,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  -modernize-concat-nested-namespaces,
  -mpi*,
  -readability-avoid-const-params-in-decls,
  -readability-function-cognitive-complexity,
  -readability-use-anyofallof,
  -objc*,
  -*osx*,
  -zircon*
WarningsAsErrors: '*'
HeaderFilterRegex: 'helpers/include|helpers/src'
CheckOptions:
  - key:             readability-identifier-naming.ClassMemberPrefix
    value:           'm_'
  - key:             performance-unnecessary-value-param.AllowedTypes
    value:           shared_ptr
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           1
  - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
    value:           1
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           1
