Checks: >-
  -*,
  -abseil*,
  -android*,
  -*braces-around-statements,
  -clang-analyzer-alpha.*,
  -clang-analyzer-cplusplus.NewDelete,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -fuchsia*,
  -google-readability-todo,
  -google-explicit-constructor,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  hicpp-uppercase-literal-suffix,
  -google-runtime-references,
  -hicpp-special-member-functions,
  -hicpp-explicit-conversions,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -llvm-qualified-auto,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-bind,
  -modernize-use-trailing-return-type,
  -modernize-use-override,
  -modernize-use-default-member-init,
  -mpi*,
  -objc*,
  -*osx*,
  -performance-unnecessary-value-param,
  readability-uppercase-literal-suffix,
  -readability-qualified-auto,
  -readability-convert-member-functions-to-static,
  -readability-make-member-function-const,
  -readability-avoid-const-params-in-decls,
  -zircon*
WarningsAsErrors: '*'
HeaderFilterRegex: 'helpers/include|helpers/src'
CheckOptions:
  - key:             readability-identifier-naming.ClassMemberPrefix
    value:           'm_'
